body
{
    display: grid;
            grid-template-areas: 
            "header header"
            "nav nav"
            "main article"
            "aside article"
            "footer footer";
            grid-template-columns: 30vh auto;
            grid-template-rows: 30vh 10vw auto auto 10vh;
            width: 100%;
            padding: 0px;
            margin: 0px
}
header
{
    background-image: url("kopi.jpg");
    grid-area: header;
   
}
header img
{
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0px;
}
header h2
{
    margin-top: -130px;
    margin-left: 400px;
}
footer
{
    background-image: url("foot.jpg");
    grid-area: footer;
}
nav
{
    background-color: rgb(138, 94, 56);
    grid-area: nav;
    padding: 10px;

}
nav a
{
    padding: 20px;
    align-items: center;
    margin-left: 50px;
}
main
{
    background-color: rgb(240, 204, 178);
    grid-area: main;
    text-align: center;
}
article
{
    background-color: rgb(236 , 224 , 209);
    grid-area: article;
    padding-left: 15px;
    padding-right: 15px;
}
article img
{
    width: 300px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 0px;
}
article .cont
{
    display: grid;
    grid-template-areas:
    "img content";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 20px;
    margin:0px;
}
article .cont img
{
    grid-area: img;
    width: 150px;
    margin-left: 0px;
    margin-top: 10px;
}
article .cont .info
{
    grid-area: content;
}
article hr {
    border: 2px solid rgb(226, 132, 16);
    
    
}
aside
{
    background-color: rgb(213, 193, 172);
    grid-area: aside;
    padding-left: 13px;
}
.social{
    background-color: bisque;
    grid-area: social;
    align-items: center;
}
.social img
{
    width: 50px;
}  
nav button , button:visited {
    background-color: rgb(228, 161, 79); 
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
  }
  nav button:hover 
  {
    background-color: rgb(236, 213, 185); 
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
  }
  main img
  {
    width: 250px;
    margin: 0px;
  }
  
/* for desktop screen */
@media screen and (min-width: 800px) and (max-width: 2000px) {
        body
        {
            display: grid;
            grid-template-areas: 
            "header header header"
            "nav nav nav"
            "main article aside"
            "footer footer footer";
            grid-template-columns: 33vh auto 50vh;
            grid-template-rows: 20vh 7vh auto 10vh;
            height: 1000px;
            padding: 0px;
            margin: 0px
        }
        header
        {
            background-image: url("kopi.jpg");
            grid-area: header;
        }
        header img
        {
            width: 500px;
            margin-top: -10px;
            margin-left: 20px;
            margin-right: 0px;
        }
        header h2
        {
            margin-top: -180px;
            margin-left: 1600px;
        }
        footer
        {
            background-image: url("foot.jpg");
            grid-area: footer;
        }
        nav
        {
            background-color: rgb(138, 94, 56);
            grid-area: nav;
            padding: 10px;
        }
        nav a
        {
            padding: 20px;
            align-items: center;
            margin-left: 50px;
        }
        main
        {
            background-color: rgb(240, 204, 178);
            grid-area: main;
            text-align: center;
        }
        main img
        {
          width: 300px;
          height: 600px;
         
        }
        article
        {
            background-color: rgb(236 , 224 , 209);
            grid-area: article;
            padding-left: 15px;
            padding-right: 15px;
        }
        article .cont
        {
        display: grid;
        grid-template-areas:
        "img content";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
        margin:0px;
        }
        article .cont img
        {
        grid-area: img;
        width: 450px;
        margin-left: 0px;
        margin-top: 10px;
        }
        article .cont .info
    {
       grid-area: content;
    }
        article img
        {
            width: 300px;
            margin-top: 10px;
            margin-left: 300px;
            margin-right: 0px;
        }
        article hr {
            border: 2px solid rgb(226, 132, 16);
            
            
        }
        aside
        {
            background-color: rgb(213, 193, 172);
            grid-area: aside;
            padding-left: 13px;
        }
        .social{
            background-color: bisque;
            grid-area: social;
            align-items: center;
        }
        .social img
        {
            width: 50px;
        }
        nav button , button:visited {
            background-color: rgb(228, 161, 79); 
            color: black;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0px;
          }
          nav button:hover 
          {
            background-color: rgb(236, 213, 185); 
            color: black;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0px;
          }
       
 }